.checkbox--container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size:0.65em;
    color:#A3ABCC;
    line-height:20px
}

.checkbox--input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox--checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border:1px solid #C5CBE0;
}

.checkbox--checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox--input:checked ~ .checkbox--checkmark:after {
  display: block;
}

.checkbox--input:checked ~ .checkbox--checkmark {
  background-color: #83CC5E;
}

.checkbox--checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}