.radiobox--container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.radiobox--input{
    position: absolute;
  opacity: 0;
  cursor: pointer;
  &:checked{
      & ~ .radiobox--checkmark{
          background-color: green;
      }
  }
}

.radiobox--checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    // background-color: #eee;
    border-radius: 50%;
    border:1px solid #eee;
}

.radiobox--checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radiobox--input:checked ~ .radiobox--checkmark:after {
  display: block;
}

.radiobox--input:checked ~ .radiobox--checkmark {
  background-color: white;
}

.radiobox--container .radiobox--checkmark:after {
 	top: 3px;
	left: 4px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #83CC5E;
}

.radiobox--label{
    font-size:0.6em;
}
