@import 'variables.scss';

.textfield{
    position:relative;
    transition: all 5s ease-in;
    height: 50px;
    width: 100%;
    &--label{
        position:absolute;
        left:16px;
        top:16px;
        color:$primary-color;
        font-size:1em;
        line-height:24px;
        font-weight: normal;
        z-index:-1;
    }

    &--input{
        padding: 15px 16px 5px 16px;
        position:relative;
        border-radius:5px;
        border: 1px solid $primary-color;
        transition: all 5s ease-in;
        font-weight: normal;
        height: 50px;
        width:100%;
        background:transparent;
        &:focus{
            border-color:$primary-color;
            outline: 0;
            & + .textfield--label{
                top:5px;
                left:16px;
                font-size:.75em;
            }
        }

        &:valid {
             border-color:$primary-color;
            outline: 0;
            & + .textfield--label{
                top:5px;
                left:16px;
                font-size:.75em;
            }
        }
    }

    &--input[type="date"]{
         & + .textfield--label{
                display:none;
            }
    }
}
